.git
.github
.turbo
.idea
.vscode
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.angular
**/.angular
.cache
**/.cache
.next
**/.next
tmp
temp
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
!.env.example
!.env.prod.example
